### Cross-selling products
- The small grocery store has decided to cross-sell chewing gum with either coffee, cereal, or bread. To determine which of the three items is best to use, the store owner has performed an experiment. For one week, she sold chewing gum next to the register and recorded all transactions where it was purchased with either coffee, cereal, or bread. The transactions from that day are available as a list of lists named transactions. Each transaction is either ['coffee','gum'], ['cereal','gum'], or ['bread','gum']

In [1]:
import pandas as pd

In [5]:
transactions = [['bread', 'gum'],['bread', 'gum'],['cereal', 'gum'],['coffee', 'gum'],['bread', 'gum'],['coffee', 'gum'],['coffee', 'gum'],['coffee', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['bread', 'gum'],
 ['cereal', 'gum'],
 ['bread', 'gum'],
 ['bread', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['bread', 'gum'],
 ['bread', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['bread', 'gum'],
 ['coffee', 'gum'],
 ['bread', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['bread', 'gum'],
 ['cereal', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['bread', 'gum'],
 ['cereal', 'gum'],
 ['bread', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['cereal', 'gum'],
 ['bread', 'gum'],
 ['bread', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['bread', 'gum'],
 ['cereal', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['bread', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['bread', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['cereal', 'gum'],
 ['cereal', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum'],
 ['bread', 'gum'],
 ['coffee', 'gum'],
 ['bread', 'gum'],
 ['coffee', 'gum'],
 ['coffee', 'gum']]

In [7]:
# Count the number of transactions with coffee and gum
coffee = transactions.count(['cofee', 'gum'])

# Count the number of transactions with cereal and gum
cereal = transactions.count(['cereal', 'gum'])

# Count the number of transactions with bread and gum
bread = transactions.count(['bread', 'gum'])

# Print the counts for each transaction.
print('coffee:', coffee)
print('cereal:', cereal)
print('bread:', bread)

coffee: 0
cereal: 25
bread: 20

### Preparing data for market basket analysis

In [9]:
# Load transactions from pandas
groceries = pd.read_csv('data/small_grocery_store.csv')
groceries.head()

                 Transaction
0         milk,bread,biscuit
1  bread,milk,biscuit,cereal
2                  bread,tea
3             jam,bread,milk
4                tea,biscuit

In [10]:
# Split transaction strings into lists
transactions = groceries['Transaction'].apply(lambda t: t.split(','))

# Convert DataFrame column into list of strings
transactions = list(transactions)

# Print the list of transactions
print(transactions)

[['milk', 'bread', 'biscuit'], ['bread', 'milk', 'biscuit', 'cereal'], ['bread', 'tea'], ['jam', 'bread', 'milk'], ['tea', 'biscuit'], ['bread', 'tea'], ['tea', 'cereal'], ['bread', 'tea', 'biscuit'], ['jam', 'bread', 'tea'], ['bread', 'milk'], ['coffee', 'orange', 'biscuit', 'cereal'], ['coffee', 'orange', 'biscuit', 'cereal'], ['coffee', 'sugar'], ['bread', 'coffee', 'orange'], ['bread', 'sugar', 'biscuit'], ['coffee', 'sugar', 'cereal'], ['bread', 'sugar', 'biscuit'], ['bread', 'coffee', 'sugar'], ['bread', 'coffee', 'sugar'], ['tea', 'milk', 'coffee', 'cereal']]

-  load and prepare data, generate association rules, and then discard the subset of rules that are not useful.

### Generating association rules
- the function permutations from the module itertools can be used to quickly generate the set of all one-antecedent, one-consequent rules. We do not, of course, know which of these rules are useful. We simply know that each is a valid way to combine two items.

In [11]:
# Import permutations from the itertools module
from itertools import permutations

# Define the set of groceries
flattened = [i for t in transactions for i in t]
groceries = list(set(flattened))

# Generate all possible rules
rules = list(permutations(groceries, 2))

# Print the set of rules
print(rules)

# Print the number of rules
print(len(rules))

[('bread', 'sugar'), ('bread', 'orange'), ('bread', 'jam'), ('bread', 'cereal'), ('bread', 'tea'), ('bread', 'coffee'), ('bread', 'milk'), ('bread', 'biscuit'), ('sugar', 'bread'), ('sugar', 'orange'), ('sugar', 'jam'), ('sugar', 'cereal'), ('sugar', 'tea'), ('sugar', 'coffee'), ('sugar', 'milk'), ('sugar', 'biscuit'), ('orange', 'bread'), ('orange', 'sugar'), ('orange', 'jam'), ('orange', 'cereal'), ('orange', 'tea'), ('orange', 'coffee'), ('orange', 'milk'), ('orange', 'biscuit'), ('jam', 'bread'), ('jam', 'sugar'), ('jam', 'orange'), ('jam', 'cereal'), ('jam', 'tea'), ('jam', 'coffee'), ('jam', 'milk'), ('jam', 'biscuit'), ('cereal', 'bread'), ('cereal', 'sugar'), ('cereal', 'orange'), ('cereal', 'jam'), ('cereal', 'tea'), ('cereal', 'coffee'), ('cereal', 'milk'), ('cereal', 'biscuit'), ('tea', 'bread'), ('tea', 'sugar'), ('tea', 'orange'), ('tea', 'jam'), ('tea', 'cereal'), ('tea', 'coffee'), ('tea', 'milk'), ('tea', 'biscuit'), ('coffee', 'bread'), ('coffee', 'sugar'), ('coffee', 'orange'), ('coffee', 'jam'), ('coffee', 'cereal'), ('coffee', 'tea'), ('coffee', 'milk'), ('coffee', 'biscuit'), ('milk', 'bread'), ('milk', 'sugar'), ('milk', 'orange'), ('milk', 'jam'), ('milk', 'cereal'), ('milk', 'tea'), ('milk', 'coffee'), ('milk', 'biscuit'), ('biscuit', 'bread'), ('biscuit', 'sugar'), ('biscuit', 'orange'), ('biscuit', 'jam'), ('biscuit', 'cereal'), ('biscuit', 'tea'), ('biscuit', 'coffee'), ('biscuit', 'milk')]
72

### One-hot encoding transaction data
-  we will use a common pipeline for preprocessing data for use in market basket analysis. The first step is to import a pandas DataFrame and select the column that contains transactions. Each transaction in the column will be a string that consists of a number of items, each separated by a comma. The next step is to use a lambda function to split each transaction string into a list, thereby transforming the column into a list of lists.
-  transform transactions into a one-hot encoded DataFrame, where each column consists of TRUE and FALSE values that indicate whether an item was included in a transaction.

In [14]:
# Import the transaction encoder function from mlxtend
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd

transactions = pd.read_csv('data/small_grocery_store.csv')
transactions.head()

                 Transaction
0         milk,bread,biscuit
1  bread,milk,biscuit,cereal
2                  bread,tea
3             jam,bread,milk
4                tea,biscuit

In [15]:
transactions = transactions['Transaction'].apply(lambda x:x.split(','))
transactions = list(transactions)
print(transactions)

[['milk', 'bread', 'biscuit'], ['bread', 'milk', 'biscuit', 'cereal'], ['bread', 'tea'], ['jam', 'bread', 'milk'], ['tea', 'biscuit'], ['bread', 'tea'], ['tea', 'cereal'], ['bread', 'tea', 'biscuit'], ['jam', 'bread', 'tea'], ['bread', 'milk'], ['coffee', 'orange', 'biscuit', 'cereal'], ['coffee', 'orange', 'biscuit', 'cereal'], ['coffee', 'sugar'], ['bread', 'coffee', 'orange'], ['bread', 'sugar', 'biscuit'], ['coffee', 'sugar', 'cereal'], ['bread', 'sugar', 'biscuit'], ['bread', 'coffee', 'sugar'], ['bread', 'coffee', 'sugar'], ['tea', 'milk', 'coffee', 'cereal']]

In [16]:
# Instantiate transaction encoder and identify unique items
encoder = TransactionEncoder().fit(transactions)

# One-hot encode transactions
onehot = encoder.transform(transactions)

# Convert one-hot encoded data to DataFrame
onehot = pd.DataFrame(onehot, columns = encoder.columns_)

# Print the one-hot encoded transaction dataset
print(onehot)

    biscuit  bread  cereal  coffee    jam   milk  orange  sugar    tea
0      True   True   False   False  False   True   False  False  False
1      True   True    True   False  False   True   False  False  False
2     False   True   False   False  False  False   False  False   True
3     False   True   False   False   True   True   False  False  False
4      True  False   False   False  False  False   False  False   True
5     False   True   False   False  False  False   False  False   True
6     False  False    True   False  False  False   False  False   True
7      True   True   False   False  False  False   False  False   True
8     False   True   False   False   True  False   False  False   True
9     False   True   False   False  False   True   False  False  False
10     True  False    True    True  False  False    True  False  False
11     True  False    True    True  False  False    True  False  False
12    False  False   False    True  False  False   False   True  False
13    False   True   False    True  False  False    True  False  False
14     True   True   False   False  False  False   False   True  False
15    False  False    True    True  False  False   False   True  False
16     True   True   False   False  False  False   False   True  False
17    False   True   False    True  False  False   False   True  False
18    False   True   False    True  False  False   False   True  False
19    False  False    True    True  False   True   False  False   True

In [17]:
# Compute the support
support = onehot.mean()

# Print the support
print(support)

biscuit    0.40
bread      0.65
cereal     0.30
coffee     0.40
jam        0.10
milk       0.25
orange     0.15
sugar      0.30
tea        0.35
dtype: float64

In [19]:
import numpy as np

# Add a jam+bread column to the DataFrame onehot
onehot['jam+bread'] = np.logical_and(onehot['jam'], onehot['bread'])

# Compute the support
support = onehot.mean()

# Print the support values
print(support)

biscuit      0.40
bread        0.65
cereal       0.30
coffee       0.40
jam          0.10
milk         0.25
orange       0.15
sugar        0.30
tea          0.35
jam+bread    0.10
dtype: float64

- we'll start working with much larger datasets, where it will be necessary to prune both items and rules by support.